<?xml version="1.0"?>
<!-- 
/**
 * @author    Arthur Henrique Wiebusch <arturh07@gmail.com>
 * @copyright 2023 Arthur Henrique Wiebusch
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ArthurWiebusch_GuessingGame" >
        <sequence>
            <module name="Magento_Theme"/>
        </sequence>
    </module>
</config>
